doctype html
html
  // head
  include pug/head.pug
  
  body
    .container
      .top
        a.logo(href)
          img(src="images/vivos-logo.svg" width="160")
        
        h1 Welcome to the Vivos Web Package
          span Let’s get started by getting to know you more 
      
      form.form(action="" method="")
        .section-group.active#step1
          .form-title
            h3 Company Information
          .form-group
            .input-group.medium
              label(for="first-name") First Name
              input#first-name(type="text" name="first-name" placeholder="First Name")
            .input-group.medium
              label(for="last-name") Last Name
              input#last-name(type="text" name="last-name" placeholder="Last Name")
            .input-group.large
              label(for="business-name") Business Name
              input#business-name(type="text" name="business-name" placeholder="Business Name")
            .input-group.large
              label(for="business-address") Business Address
              input#business-address(type="text" name="business-address" placeholder="Business Address")
            .input-group.medium
              label(for="city") City
              input#city(type="text" name="city" placeholder="City")
            .input-group-multi
              .input-group.small
                label(for="state") ST
                input#state(type="text" name="state" placeholder="ST")
              .input-group.small
                label(for="postal") Postal Code
                input#postal(type="text" name="postal" placeholder="Ex: 85236")
              .input-group.small
                label(for="country") Country
                input#country(type="text" name="country" placeholder="Country")
            .submit-group
              //button.back Next
              button.nxt(onclick="nextStep()") Next
        .section-group#step2
          .form-title
            h3 Media Channels
          
          .form-group
            .input-group.medium
              label(for="website-address") Website Address
              input#website-address(type="text" name="website-address" placeholder="Website Address")
            .input-group.medium
              label(for="blog-address") Blog Address
              input#blog-address(type="text" name="blog-address" placeholder="Blog Address")
            .input-group.icon-input
              label(for="facebook") Facebook
              img.icon(src="images/facebook.svg")
              input#facebook(type="text" name="facebook" placeholder="Facebook")
            .input-group.icon-input
              label(for="twitter") Twitter
              img.icon(src="images/twitter.svg")
              input#twitter(type="text" name="twitter" placeholder="Twitter")
            .input-group.icon-input
              label(for="instagram") Instagram
              img.icon(src="images/instagram.svg")
              input#instagram(type="text" name="instagram" placeholder="Instagram")
            .input-group.icon-input
              label(for="linkedin") LinkedIn
              img.icon(src="images/linkedin.svg")
              input#linkedin(type="text" name="linkedin" placeholder="LinkedIn")
            .input-group.icon-input
              label(for="snapchat") Snapchat
              img.icon(src="images/snapchat.svg")
              input#snapchat(type="text" name="Snapchat" placeholder="Snapchat")
            .input-group.icon-input
              label(for="youtube") Youtube
              img.icon(src="images/youtube.svg")
              input#youtube(type="text" name="Youtube" placeholder="Youtube")
            .input-group.large(style="margin-top: 20px")
              label() Choose a preferred website option for your new web management package:
              .checkbox-group
                .checkbox-item
                  input#option1(type="checkbox" name="option1" value="new-website") 
                  span.checkbox-label A new website for my dental practice (replace/upgrade my current website)
                .checkbox-item
                  input#option2(type="checkbox" name="option2" value="vivos-marketing") 
                  span.checkbox-label A Vivos Patient Marketing Website (in addition to my current website)
            .submit-group
              button.back Back
              button.nxt Next     
        .section-group#step3
          .form-title
            h3 Brand Assets
          
          .form-group
            .input-group.large
              label(for="logo-location") Where/what is the best place to find a high res version of your logo?
              input#logo-location(type="text" name="logo-location" placeholder="Ex: Find it on my website")
            .input-group.large
              label(for="asset-location") Where/what is the best place to find images/graphics
              input#asset-location(type="text" name="asset-location" placeholder="Ex: I will email them to you")
            
            .input-group.large
              label(for="other-location") Is there anything you want us to know about your current website content/ marketing materials?
              textarea#other-location(name="asset-location" placeholder="Ex: Other Websites, marketing materials, assets etc.")
            
            .submit-group
              button.back Back
              button.nxt Next    
        .section-group#step4
          .form-title
            h3 Contact Information
          
          .form-group
            .input-group.large
              label(for="point-of-contact") Best Point of Contact (Ex: Office Manager)
              input#point-of-contact(type="text" name="point-of-contact" placeholder="Point of Contact")
            .input-group.medium
              label(for="email") Email Address
              input#email(type="email" name="email" placeholder="Email Address")
            .input-group.medium
              label(for="phone-number") Office Phone Number
              input#phone-number(type="text" name="phone-number" placeholder="Office Phone Number")
            .input-group.large
              label(for="office-hours") Office Hours
              textarea#office-hours(name="office-hours" placeholder="Office Hours")
            
            .submit-group
              button.back Back
              button.submit(type="Submit") Submit     
            
    
      a.logo(href)
        img(src="images/webstack.svg" width="160")   
      span Powered By Webstack     
    .color-bar
      .blue
      .pink
      .orange
      .green
    script(src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous")
    script(src="js/main.js")
