// Main Sass
// Breakpoints
$breakpoint-desktop: 1000px
$breakpoint-tablet: 768px

@import 'css/global/colors.sass'
@import 'css/global/typography.sass'

body
  font-family: 'Lato', sans-serif
  background: $bg
  padding: 50px 0px
  box-sizing: border-box

.container
  max-width: 90%
  //height: 100vh
  margin: 0 auto
  //background: red

a.logo
  //background: red
  display: block
  margin-bottom: 10px
  img
    display: block
    margin: 0 auto
@media (min-width: $breakpoint-desktop)
  body
    padding: 100px 0px
  .container
      max-width: 960px

@import 'css/components/color-bar.sass'
@import 'css/components/form-elements.sass'
@import 'css/components/buttons.sass'
