@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&display=swap");
h1 {
  font-size: 30px;
  font-weight: bold;
  color: #2B3A4A;
  margin-top: 20px;
  text-align: left; }
  h1 span {
    display: block;
    font-weight: normal;
    margin-top: 10px; }

h3 {
  font-size: 22px;
  color: #2B3A4A;
  font-weight: bold; }

span {
  color: #2B3A4A;
  font-size: 14px;
  text-align: center;
  display: block; }

@media (min-width: 1000px) {
  h1 {
    font-size: 30px;
    text-align: center; } }

body {
  font-family: 'Lato', sans-serif;
  background: #f5f6f5;
  padding: 50px 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  max-width: 90%;
  margin: 0 auto; }

a.logo {
  display: block;
  margin-bottom: 10px; }
  a.logo img {
    display: block;
    margin: 0 auto; }

@media (min-width: 1000px) {
  body {
    padding: 100px 0px; }
  .container {
    max-width: 960px; } }

.color-bar {
  width: 100%;
  height: 5px;
  position: fixed;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .color-bar .blue {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: #4a8ebb; }
  .color-bar .pink {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: #c55594; }
  .color-bar .orange {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: #faaf1b; }
  .color-bar .green {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: #afd181; }

form.form {
  background: white;
  margin: 50px 0px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding-bottom: 30px;
  margin-bottom: 100px; }

.section-group {
  padding: 00px 0px;
  display: none; }
  .section-group.active {
    display: block; }

.form-title {
  border-bottom: 1px solid #ccc;
  padding: 30px 20px;
  margin-bottom: 25px; }

.form-group {
  padding: 0px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.input-group-multi {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.input-group {
  margin-bottom: 20px;
  position: relative;
  width: 100%; }

.submit-group {
  width: 100%;
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

label {
  display: block;
  margin-bottom: 10px; }

input {
  width: 100%;
  height: 50px;
  padding-left: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid #ccc;
  font-size: 16px; }
  input::-webkit-input-placeholder {
    color: #A0A0A0; }
  input:-ms-input-placeholder {
    color: #A0A0A0; }
  input::-ms-input-placeholder {
    color: #A0A0A0; }
  input::placeholder {
    color: #A0A0A0; }
  input:hover, input:focus, input:active {
    color: #2B3A4A;
    border-color: #2B3A4A; }

textarea {
  width: 100%;
  min-height: 200px;
  padding: 20px 20px;
  border-radius: 3px;
  border: 1px solid #ccc;
  font-size: 16px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  textarea::-webkit-input-placeholder {
    color: #A0A0A0; }
  textarea:-ms-input-placeholder {
    color: #A0A0A0; }
  textarea::-ms-input-placeholder {
    color: #A0A0A0; }
  textarea::placeholder {
    color: #A0A0A0; }
  textarea:hover, textarea:focus, textarea:active {
    color: #2B3A4A;
    border-color: #2B3A4A; }

.input-group.icon-input {
  width: 100%; }
  .input-group.icon-input input {
    padding-left: 55px; }

img.icon {
  position: absolute;
  top: 40px;
  left: 15px; }

input[type="checkbox"] {
  width: auto;
  height: auto;
  margin-right: 10px;
  margin-bottom: 10px; }

span.checkbox-label {
  color: #6C6C6C;
  display: inline-block; }

.checkbox-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 20px; }

.checkbox-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-right: 30px;
  margin-bottom: 30px; }

@media (min-width: 1000px) {
  .form-title {
    border-bottom: 1px solid #ccc;
    padding: 30px 50px;
    margin-bottom: 25px; }
  .form-group {
    padding: 0px 50px; }
  .input-group.icon-input {
    width: 30%; }
  .input-group-multi {
    width: 48%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .checkbox-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 20px; }
  input[type="checkbox"] {
    width: auto;
    height: auto;
    margin-right: 10px; }
  span.checkbox-label {
    color: #6C6C6C;
    display: inline-block; }
  .checkbox-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-top: 20px; }
  .checkbox-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-right: 30px;
    margin-bottom: 0px; }
  .input-group {
    margin-bottom: 20px;
    position: relative; }
    .input-group.small {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      margin-right: 5%; }
      .input-group.small:last-of-type {
        margin-right: 0; }
    .input-group.medium {
      width: 48%; }
    .input-group.large {
      width: 100%; } }

a.btn, button {
  background: #d2d2d2;
  border: none;
  padding: 15px 35px;
  color: white;
  border-radius: 2px;
  cursor: pointer;
  font-size: 14px; }
  a.btn.nxt, a.btn .submit, button.nxt, button .submit {
    background: #afd181; }
    a.btn.nxt:hover, a.btn .submit:hover, button.nxt:hover, button .submit:hover {
      background: #8bbd49; }
  a.btn.back, button.back {
    background: #d2d2d2; }
    a.btn.back:hover, button.back:hover {
      background: #acacac; }
