@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&display=swap')

h1
  font-size: 30px
  font-weight: bold
  color: $dark
  margin-top: 20px
  text-align: left

  span
    display: block
    font-weight: normal
    margin-top: 10px


h3
  font-size: 22px
  color: $dark
  font-weight: bold

span
  color: $dark
  font-size: 14px
  text-align: center
  display: block
@media (min-width: $breakpoint-desktop)
  h1
    font-size: 30px
    text-align: center
