head
  title Welcome to Webstack
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1", user-scalable="no")
  link(rel="icon" href="images/favicon.png")
  link(rel="stylesheet",href="reset.css")
  link(rel="stylesheet",href="main.css")
