a.btn, button
  background: $grey
  border: none
  padding: 15px 35px
  color: white
  border-radius: 2px
  cursor: pointer
  font-size: 14px
  &.nxt, .submit
    background: $green

    &:hover
      background: darken($green, 15%)

  &.back
    background: $grey

    &:hover
      background: darken($grey, 15%)
