.color-bar
  width: 100%
  height: 5px
  position: fixed
  bottom: 0
  display: flex


  .blue
    flex: 1
    background: $blue
  .pink
    flex: 1
    background: $pink
  .orange
    flex: 1
    background: $orange
  .green
    flex: 1
    background: $green
