form.form
  background: white
  margin: 50px 0px
  border: 1px solid $border
  border-radius: 4px
  padding-bottom: 30px
  margin-bottom: 100px

.section-group
  padding: 00px 0px
  display: none

  &.active
    display: block

.form-title
  border-bottom: 1px solid $border
  padding: 30px 20px
  margin-bottom: 25px

.form-group
  padding: 0px 20px
  display: flex
  justify-content: space-between
  flex-wrap: wrap

.input-group-multi
  width: 100%
  display: flex
  flex-wrap: wrap

.input-group
  margin-bottom: 20px
  position: relative
  width: 100%

.submit-group
  width: 100%
  margin-top: 25px
  display: flex
  align-items: center
  justify-content: space-between



label
  display: block
  margin-bottom: 10px

input
  width: 100%
  height: 50px
  padding-left: 20px
  box-sizing: border-box
  border-radius: 3px
  border: 1px solid $border
  font-size: 16px

  &::placeholder
    color: #A0A0A0

  &:hover, &:focus, &:active
    color: $dark
    border-color: $dark

textarea
  width: 100%
  min-height: 200px
  padding: 20px 20px
  border-radius: 3px
  border: 1px solid $border
  font-size: 16px
  box-sizing: border-box

  &::placeholder
    color: #A0A0A0

  &:hover, &:focus, &:active
    color: $dark
    border-color: $dark

.input-group.icon-input
  width: 100%

  input
    padding-left: 55px

img.icon
  position: absolute
  top: 40px
  left: 15px

input[type="checkbox"]
  //background: red
  //border: 4px solid red
  width: auto
  height: auto
  margin-right: 10px
  margin-bottom: 10px

span.checkbox-label
  color: #6C6C6C
  display: inline-block


.checkbox-group
  //background: teal
  display: flex
  align-items: center
  flex-direction: column
  margin-top: 20px

.checkbox-item
  display: flex
  align-items: center
  flex-wrap: wrap
  padding-right: 30px
  margin-bottom: 30px


@media (min-width: $breakpoint-desktop)
  .form-title
    border-bottom: 1px solid $border
    padding: 30px 50px
    margin-bottom: 25px

  .form-group
    padding: 0px 50px

  .input-group.icon-input
    width: 30%

  .input-group-multi
    width: 48%
    display: flex

  .checkbox-group
    //background: teal
    display: flex
    align-items: center
    margin-top: 20px

  input[type="checkbox"]
    //background: red
    //border: 4px solid red
    width: auto
    height: auto
    margin-right: 10px

  span.checkbox-label
    color: #6C6C6C
    display: inline-block


  .checkbox-group
    //background: teal
    display: flex
    align-items: center
    flex-direction: row
    margin-top: 20px

  .checkbox-item
    display: flex
    align-items: center
    flex-wrap: wrap
    padding-right: 30px
    margin-bottom: 0px
  .input-group
    margin-bottom: 20px
    position: relative

    &.small
      flex: 1
      margin-right: 5%

      &:last-of-type
        margin-right: 0
    &.medium
      width: 48%
    &.large
      width: 100%
